* {
    margin: 0;
    padding: 0;
  }

  @font-face { 
    font-family: ToyBox;
    src: url(fonts/ToyBox.ttf);
  }

  body {
      background-color: #172B4D;
  }

  nav {
    padding:8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;

}

.logo a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: ToyBox;
  font-size: 20px;
  letter-spacing: 0px;
  text-decoration: none;

}

  .title {
      color: #fff;
      font-weight: 500;
      margin-top: 200px;
      font-size: 38px;
      font-family: ToyBox;
  }

  .about-title {
    color: #fff;
    font-weight: 500;
    margin-top: 120px;
    font-size: 38px;
    font-family: ToyBox;
}

  .sub-title {
      color: #fff;
      font-weight: 500;
      font-family: ToyBox;
      font-size: 25px;
  }

  .footer {
      color: #fff;
      font-family: ToyBox;
  }

  .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
  }

  ul {
    list-style: none;
    margin: 1.8rem 0 1rem;
    padding: 0;
}

ul li {
  display: inline-block;
  position: relative;
  letter-spacing: 10px;
}

  ul li a {
    color: #fff;
  }

  ul li a {
    font-size: 1.7rem;
}



nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child){
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a,
nav ul li a:hover {
  display: inline-block;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 300;
  font-family: ToyBox;
}


@media screen and (max-width:864px) {

  .title {
    font-size: 32px;
  }

  .sub-title {
    font-size: 18px;
  }


  .logo {
      padding: 0;
      margin-top: 12px;
  }

  .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #172B4D;
      opacity: 0;
      transition: all 0.2s ease;
  }

  .nav-wrapper ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 90%;
  }

  .nav-wrapper ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: right;
      margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
      transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
      transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
      transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
      transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
      margin-left: 0;
  }

  .nav-wrapper ul li a {
      padding: 10px 24px;
      opacity: 0;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1.2px;
      transform: translateX(-20px);
      transition: all 0.2s ease;
  }

  .nav-btn {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
  }

  .nav-btn i {
      display: block;
      width: 20px;
      height: 2px;
      background: #fff;
      border-radius: 2px;
      margin-left: 14px;
  }

  .nav-btn i:nth-child(1){
      margin-top:16px;
  }

  .nav-btn i:nth-child(2){
      margin-top: 4px;
      opacity: 1; 
  }

  .nav-btn i:nth-child(3){
      margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

button {
  width: 280px;
  background: none;
  display: block;
  border: 3px solid white;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .25s;
}

button:hover {
  background-color: white;
  color: #32A3DC;
}

.terms-links ul li a:hover {
  color: orange;
}

.social-icons a:hover {
  color: orange;
}

.section-content { 
  margin-top: 150px;
  color: #fff;
}

.section-content a {
  color: orange;
}

.bio {
  color: #fff;
  font-size: 20px;
  font-family: ToyBox;
  margin-top: 50px;
}

.title-newsletter {
  margin-top: 220px;
  font-family: ToyBox;
  color: #fff;
}

#rtb {
  margin-top: 100px;
}

#rtb p {
  color: #fff;
}

#rtb a h2 {
  color: #FFF;
  font-family: ToyBox;
}

#rtb .excerpt {
  color: #999;
}

#rtb .author { 
  color: lightgreen;
}

#rtb figcaption {
  display: none;
}

.container .bio a {
  color: orange;
}

/* 
h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 5em;
  width: 5em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-top: calc(50vh - 1em);
} */

.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #6b6e74 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}